
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
body {
    margin: 0;
    background-color: rgb(236, 213, 182);
    font-family: 'Roboto', sans-serif;
}
.container {
    margin: 100px auto 20px auto;
    width: 600px;
    background-color: whitesmoke;
    border-radius: 1rem;
}
.container h1 {
    text-align: center;
    padding: 1rem 0;
}
.table {
    background-color: whitesmoke;
    text-align: center;
    width: 100%;
    border-radius: 1rem;
}
.th, td {
    padding: 10px;
}
.pants_extendpri {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border: none;
    width: 100px;
}
.calcBut {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 0;
    margin: 30px auto;
    border-radius: 25px;
    background-color: yellowgreen;
    color: black;
    box-shadow: 0px 3px 8px 0.2px black;
}
.promobox {
    background-color: whitesmoke;
    width: 300px;
    max-width: 500px;
    height: 100px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.promobox h2{
    font-weight: 400;
    font-size: 1rem;
}
.textPromo {
    width: 200px;
    height: 20px;
    justify-self: center;
    margin: 0 0 10px 50px;
}
.promoButton {
    width: 100px;
    margin: 0 0 10px 100px;
}